.detail-section {
    background: #f4ebf1;
    min-height: 80vh;
}

.book-detail-content {
    background-color: #f4ebf1;
    border-radius: 12px;
    transition: all ease-in-out .5s;
}

.book-detail-content:hover,
.book-detail-content:focus {
    box-shadow: 0 0 1em rgba(0, 0, 0, .3);
    background-color: #fff;
}

.transparent-bg {
    background: transparent;
}