.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.opacity-8 {
    opacity: 0.8;
}

.opacity-6 {
    opacity: 0.6;
}

.font-14 {
    font-size: 14px!important;
}

.font-13 {
    font-size: 13px!important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-primary {
    font-family: 'Lora', serif;
    letter-spacing: 1.5px;
}

.font-sub {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
}

