.header-top, 
.header-bottom {
    background: #f4ebf1;
}

/* Logo */
.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    
}

/* Navbar */
.list-page-item {
    letter-spacing: 2px;
    font-weight: 500;
    --primary-color: #111;
    --hovered-color: #198754;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.list-page-item p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.list-page-item::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.list-page-item p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.list-page-item:hover p{
    color: var(--hovered-color);
}

.list-page-item:hover .icons {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.list-page-item .icons {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}

.list-page-item:hover::after {
    width: 100%;
}

.list-page-item:hover p::before {
    width: 100%;
}
/* auth button */

.auth-btn {
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    min-width: 115px;
}

.auth-btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.auth-btn:active {
    transform: translateY(-1px);
}

/* cart btn */
.cart-btn {
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    min-width: 60px;
}

.cart-btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.cart-btn:active {
    transform: translateY(-1px);
}

/* Search */
.search-title {
    font-size: 28px;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    font-weight: 500;
    color: #664d03;
}

.search-quote {
    font-size: 14px;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    color: #000;
    opacity: 0.8;
}